{% extends 'admin/admin.html.twig' %}

{% block main_title %}
Editing Project:
{% endblock %}

{% block content %}

    {% if success_msg is not empty %}
        <h2 class="success-message">
            {{ success_msg }}
        </h2>
    {% endif %}

    <div class="container">

        <h1>New Project:</h1>

        <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">Logo:</label>
                <div class="col-sm-8">
                    <img src="{{ app.asset_path }}/{{ movie.getLogo() }}" alt="Movie Logo" width="100%">
                </div>
                <div class="col-sm-2">
                    <input type="file" id="logo" name="{{ movie.getLogoAttrName() }}" value="{{ movie.getLogo() }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name (de):</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="{{ movie.getNameAttrName('de') }}" class="form-control" value="{{ movie.getName('de') }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name (en):</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="{{ movie.getNameAttrName('en') }}" class="form-control" value="{{ movie.getName('en') }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="year" class="col-sm-2 control-label">Year:</label>
                <div class="col-sm-10">
                    <input type="text" id="year" name="{{ movie.getYearAttrName() }}" class="form-control" value="{{ movie.getYear() }}"/>
                </div>
            </div>

            <h2>Short Info (de):</h2>

            <div class="form-group">
                <div class="col-md-2"></div>

                <div id="ProjectInfoTable" class="col-md-9">

                    {% for field in movie.getFields('de') %}

                    <div id="field-{{ field.id }}" class="form-group">
                        <div class="col-lg-4 no-float">
                            <label for="field-name-{{ field.id }}">Field name:</label>
                            <input type="text" id="field-name-{{ field.id }}" name="{{ movie.getFieldsNameAttrName('de', field.id) }}" class="form-control"  value="{{ field.name }}"/>
                        </div>
                        <div class="col-lg-4 no-float">
                            <label for="field-value-{{ field.id }}">Field value:</label>
                            <input type="text" id="field-value-{{ field.id }}" name="{{ movie.getFieldsValueAttrName('de', field.id) }}" class="form-control" value="{{ field.value }}"/>
                        </div>
                        <div class="col-sm-4 no-float" style="vertical-align: middle">
                            <span id="field-remove-{{ field.id }}" class="btn btn-sm btn-danger remove">Remove Field</span>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                <div class="col-md-1">
                    <span id="AddField" type="button" class="btn btn-success" style="margin-top: 25px">Add Field</span>
                </div>
            </div>

            <h2>Short Info (en):</h2>

            <div class="form-group">
                <div class="col-md-2"></div>

                <div id="ProjectInfoTable" class="col-md-9">

                    {% for field in movie.getFields('en') %}

                        <div id="field-{{ field.id }}" class="form-group">
                            <div class="col-lg-4 no-float">
                                <label for="field-name-{{ field.id }}">Field name:</label>
                                <input type="text" id="field-name-{{ field.id }}" name="{{ movie.getFieldsNameAttrName('en', field.id) }}" class="form-control"  value="{{ field.name }}"/>
                            </div>
                            <div class="col-lg-4 no-float">
                                <label for="field-value-{{ field.id }}">Field value:</label>
                                <input type="text" id="field-value-{{ field.id }}" name="{{ movie.getFieldsValueAttrName('en', field.id) }}" class="form-control" value="{{ field.value }}"/>
                            </div>
                            <div class="col-sm-4 no-float" style="vertical-align: middle">
                                <span id="field-remove-{{ field.id }}" class="btn btn-sm btn-danger remove">Remove Field</span>
                            </div>
                        </div>

                    {% endfor %}


                </div>
                <div class="col-md-1">
                    <span id="AddField" type="button" class="btn btn-success" style="margin-top: 25px">Add Field</span>
                </div>
            </div>

            <h2>Description:</h2>

            <div class="form-group">
                <label for="preview_url" class="col-sm-2 control-label">Preview url:</label>
                <div class="col-sm-10">
                    <input type="text" id="preview_url" name="{{ movie.getPreviewUrlAttrName() }}" class="form-control" value="{{ movie.getPreviewUrl() }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="color" class="col-sm-2 control-label">Color:</label>
                <div class="col-sm-10">
                    <input type="text" id="color" name="{{ movie.getColorAttrName() }}" class="form-control" value="{{ movie.getColor() }}" />
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description (de):</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" name="{{ movie.getDescriptionAttrName('de') }}" class="form-control">{{ movie.getDescription('de') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description (en):</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" name="{{ movie.getDescriptionAttrName('en') }}" class="form-control">{{ movie.getDescription('en') }}</textarea>
                </div>
            </div>

            <h2>Comments (de):</h2>

            <div id="CommentBox_de">

                {% for comment in movie.getComments('de') %}

                    <div id="comment_{{ comment.id }}" class="form-group">
                        <div class="col-sm-1"></div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="comment_img_{{ comment.id }}" class="col-sm-2 control-label">Image:</label>
                                <div class="col-sm-4">
                                    <img src="{{ app.asset_path }}/{{ comment.image_url }}" alt="Comment Image" width="100%">
                                </div>
                                <div class="col-sm-6">
                                    <input type="file" name="{{ movie.getCommentsImageUrlAttrName('de', comment.id) }}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comment_text_{{ comment.id }}" class="col-sm-2 control-label">Text:</label>
                                <div class="col-sm-10">
                                    <textarea name="{{ movie.getCommentsTextAttrName('de', comment.id) }}" id="comment_text_{{ comment.id }}" class="form-control" >{{ comment.text }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span id="remove_comment_{{ comment.id }}" class="btn btn-sm btn-danger remove">Remove Comment</span>
                        </div>
                    </div>

                {% endfor %}

            </div>

            <h2>Comments (en):</h2>

            <div id="CommentBox_en">

                {% for comment in movie.getComments('en') %}

                    <div id="comment_{{ comment.id }}" class="form-group">
                        <div class="col-sm-1"></div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="comment_img_{{ comment.id }}" class="col-sm-2 control-label">Image:</label>
                                <div class="col-sm-4">
                                    <img src="{{ app.asset_path }}/{{ comment.image_url }}" alt="Comment Image" width="100%">
                                </div>
                                <div class="col-sm-6">
                                    <input type="file" name="{{ movie.getCommentsImageUrlAttrName('en', comment.id) }}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comment_text_{{ comment.id }}" class="col-sm-2 control-label">Text:</label>
                                <div class="col-sm-10">
                                    <textarea name="{{ movie.getCommentsTextAttrName('en', comment.id) }}" id="comment_text_{{ comment.id }}" class="form-control" >{{ comment.text }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span id="remove_comment_{{ comment.id }}" class="btn btn-sm btn-danger remove">Remove Comment</span>
                        </div>
                    </div>

                {% endfor %}

            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <span id="AddComment" class="btn btn-block btn-success">Add Comment</span>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
                <input type="submit" class="pull-right btn btn-success" value="EDIT" />
            </div>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        {% if movie.fields|length > 0 %}
            setFieldCounter({{ movie.fields|last.id }});
        {% endif %}

        {% if movie.comments|length > 0 %}
            setCommentCounter({{ movie.comments|last.id }});;
        {% endif %}

        addFieldButtonsClickListeners();
        addCommentClickListeners();
    </script>
{% endblock %}