{% extends 'admin/admin.html.twig' %}

{% block main_title %}
Editing Project:
{% endblock %}

{% block content %}

    {% if success_msg is not empty %}
        <h2 class="success-message">
            {{ success_msg }}
        </h2>
    {% endif %}

    <div class="container">

        <h1>New Project:</h1>

        <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">Logo:</label>
                <div class="col-sm-8">
                    <img src="{{ app.asset_path }}/{{ movie.logo }}" alt="Movie Logo" width="100%">
                </div>
                <div class="col-sm-2">
                    <input type="file" id="logo" name="logo" value="{{ movie.logo }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name" class="form-control" value="{{ movie.name }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="year" class="col-sm-2 control-label">Year:</label>
                <div class="col-sm-10">
                    <input type="text" id="year" name="year" class="form-control" value="{{ movie.year }}"/>
                </div>
            </div>

            <h2>Short Info:</h2>

            <div class="form-group">
                <div class="col-md-2"></div>

                <div id="ProjectInfoTable" class="col-md-9">

                    {% for field in movie.fields %}

                    <div id="field-{{ field.id }}" class="form-group">
                        <div class="col-lg-4 no-float">
                            <label for="field-name-{{ field.id }}">Field name:</label>
                            <input type="text" id="field-name-{{ field.id }}" name="field_name_{{ field.id }}" class="form-control"  value="{{ field.field_name }}"/>
                        </div>
                        <div class="col-lg-4 no-float">
                            <label for="field-value-{{ field.id }}">Field value:</label>
                            <input type="text" id="field-value-{{ field.id }}" name="field_value_{{ field.id }}" class="form-control" value="{{ field.field_value }}"/>
                        </div>
                        <div class="col-sm-4 no-float" style="vertical-align: middle">
                            <span id="field-remove-{{ field.id }}" class="btn btn-sm btn-danger remove">Remove Field</span>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                <div class="col-md-1">
                    <span id="AddField" type="button" class="btn btn-success" style="margin-top: 25px">Add Field</span>
                </div>
            </div>

            <div class="form-group">
                <label for="preview_url" class="col-sm-2 control-label">Preview url:</label>
                <div class="col-sm-10">
                    <input type="text" id="preview_url" name="preview_url" class="form-control" value="{{ movie.preview_url }}"/>
                </div>
            </div>

            <h2>Description:</h2>

            <div class="form-group">
                <label for="color" class="col-sm-2 control-label">Color:</label>
                <div class="col-sm-10">
                    <input type="text" id="color" name="color" class="form-control" value="{{ movie.color }}" />
                </div>
            </div>

            <div class="form-group">
                <label for="short_description" class="col-sm-2 control-label">Short Description:</label>
                <div class="col-sm-10">
                    <textarea type="text" id="short_description" name="short_description" class="form-control">{{ movie.short_description }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" name="description" class="form-control">{{ movie.description }}</textarea>
                </div>
            </div>

            <h2>Comments:</h2>

            <div id="CommentBox">

                {% for comment in movie.comments %}

                <div id="comment_{{ comment.id }}" class="form-group">
                    <div class="col-sm-1"></div>

                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="comment_img_{{ comment.id }}" class="col-sm-2 control-label">Image:</label>
                            <div class="col-sm-4">
                                <img src="{{ app.asset_path }}/{{ comment.image_url }}" alt="Comment Image" width="100%">
                            </div>
                            <div class="col-sm-6">
                                <input type="file" name="comment_img_{{ comment.id }}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comment_text_{{ comment.id }}" class="col-sm-2 control-label">Text:</label>
                            <div class="col-sm-10">
                                <textarea name="comment_text_{{ comment.id }}" id="comment_text_{{ comment.id }}" class="form-control" >{{ comment.text }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <span id="remove_comment_{{ comment.id }}" class="btn btn-sm btn-danger remove">Remove Comment</span>
                    </div>
                </div>

                {% endfor %}

            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <span id="AddComment" class="btn btn-block btn-success">Add Comment</span>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
                <input type="submit" class="pull-right btn btn-success" value="EDIT" />
            </div>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        {% if movie.fields|length > 0 %}
            setFieldCounter({{ movie.fields|last.id }});
        {% endif %}

        {% if movie.comments|length > 0 %}
            setCommentCounter({{ movie.comments|last.id }});;
        {% endif %}

        addFieldButtonsClickListeners();
        addCommentClickListeners();
    </script>
{% endblock %}