{% extends 'admin/admin.html.twig' %}

{% block main_title %}
Editing Project:
{% endblock %}

{% block content %}

    {% if success_msg is not empty %}
        <h2 class="success-message">
            {{ success_msg }}
        </h2>
    {% endif %}

    <div class="container">

        <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name (de):</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="{{ movie.getNameAttrName('de') }}" class="form-control" value="{{ movie.getName('de') }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name (en):</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="{{ movie.getNameAttrName('en') }}" class="form-control" value="{{ movie.getName('en') }}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="{{ movie.getGenreAttrName('de') }}" class="col-sm-3 control-label">Genre (de):</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="{{ movie.getGenreAttrName('de') }}" value="{{ movie.getGenre('de') }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ movie.getGenreAttrName('en') }}" class="col-sm-3 control-label">Genre (en):</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="{{ movie.getGenreAttrName('en') }}" value="{{ movie.getGenre('en') }}" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="year" class="col-sm-2 control-label">Year:</label>
                        <div class="col-sm-10">
                            <input type="text" id="year" name="{{ movie.getYearAttrName() }}" class="form-control" value="{{ movie.getYear() }}"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">Logo:</label>
                <div class="col-lg-8">
                    <img id="Logo_Img" src="{{ app.asset_path }}/{{ movie.getLogo() }}" alt="Movie Logo" width="100%">
                </div>
                <div class="col-sm-2">
                    <input type="file" id="Logo_Input" name="{{ movie.getLogoAttrName() }}" value="{{ movie.getLogo() }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="short-logo" class="col-sm-2 control-label">Index Logo:</label>
                <div class="col-lg-8">
                    <img src="{{ app.asset_path }}/{{ movie.getLogoShort() }}" alt="Movie Logo" width="100%">
                </div>
                <div class="col-sm-2">
                    <input type="file" id="short-logo" name="{{ movie.getLogoShortAttrName() }}" value="{{ movie.getLogo() }}"/>
                </div>
            </div>

            <h2>Short Info:</h2>

            <div class="form-group">
                <div class="col-md-2"></div>

                <div id="ProjectInfoTable" class="col-md-9">

                    {% set fields = movie.getFields() %}

                    {% if fields|length > 0 %}
                        {% for field in fields %}

                            <div id="field-{{ field.de.id }}" class="form-group">
                                <div class="col-lg-12">
                                    <div class="row form-group">
                                        <div class="col-lg-4">
                                            <label for="field-name-{{ field.de.id }}">Field name (de):</label>
                                            <input type="text" id="field-name-{{ field.de.id }}" name="{{ movie.getFieldsNameAttrName('de', field.de.id) }}" class="form-control"  value="{{ field.de.name }}"/>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="field-value-{{ field.de.id }}">Field value (de):</label>
                                            <input type="text" id="field-value-{{ field.de.id }}" name="{{ movie.getFieldsValueAttrName('de', field.de.id) }}" class="form-control" value="{{ field.de.value }}"/>
                                        </div>
                                        <input type="hidden" name="{{ movie.getFieldsIdAttrName('de', field.de.id) }}" value="{{ field.de.id }}">
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-4">
                                            <label for="field-name-{{ field.en.id }}">Field name (en):</label>
                                            <input type="text" id="field-name-{{ field.en.id }}" name="{{ movie.getFieldsNameAttrName('en', field.en.id) }}" class="form-control"  value="{{ field.en.name }}"/>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="field-value-{{ field.en.id }}">Field value (en):</label>
                                            <input type="text" id="field-value-{{ field.en.id }}" name="{{ movie.getFieldsValueAttrName('en', field.en.id) }}" class="form-control" value="{{ field.en.value }}"/>
                                        </div>
                                        <input type="hidden" name="{{ movie.getFieldsIdAttrName('en', field.en.id) }}" value="{{ field.en.id }}">
                                    </div>
                                </div>

                                <div class="form-group col-lg-8">
                                    <span id="field-remove-{{ field.de.id }}" class="btn btn-sm btn-danger remove pull-right">Remove Field</span>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-1">
                    <span id="AddField" type="button" class="btn btn-success" style="margin-top: 25px">Add Field</span>
                </div>
            </div>

            <h2>Description:</h2>

            <div class="form-group">
                <label for="preview_url" class="col-sm-2 control-label">Preview url:</label>
                <div class="col-sm-10">
                    <input type="text" id="preview_url" name="{{ movie.getPreviewUrlAttrName() }}" class="form-control" value="{{ movie.getPreviewUrl() }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="color" class="col-sm-2 control-label">Color:</label>
                <div class="col-sm-10">
                    <input type="text" id="color" name="{{ movie.getColorAttrName() }}" class="form-control" value="{{ movie.getColor() }}" />
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description (de):</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" name="{{ movie.getDescriptionAttrName('de') }}" class="form-control">{{ movie.getDescription('de') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description (en):</label>
                <div class="col-sm-10">
                    <textarea type="text" id="description" name="{{ movie.getDescriptionAttrName('en') }}" class="form-control">{{ movie.getDescription('en') }}</textarea>
                </div>
            </div>

            <h2>Comments:</h2>

            <div id="CommentBox">

                {% set comments = movie.getComments() %}

                {% if comments|length > 0 %}
                    {% for comment in movie.getComments() %}

                        <div id="comment_{{ comment.de.id }}" class="form-group comment-block">
                            <div class="col-sm-1"></div>

                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="comment_img_{{ comment.de.id }}" class="col-sm-2 control-label">Image:</label>
                                    <div class="col-sm-4">
                                        <img src="{{ app.asset_path }}/{{ comment.image_url }}" alt="Comment Image" width="100%">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" name="{{ movie.getCommentsImageUrlAttrName('de', comment.de.id) }}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="comment_text_{{ comment.de.id }}" class="col-sm-2 control-label">Text (de):</label>
                                    <div class="col-lg-10">
                                        <textarea name="{{ movie.getCommentsTextAttrName('de', comment.de.id) }}" id="comment_text_{{ comment.de.id }}" class="form-control" >{{ comment.de.text }}</textarea>
                                    </div>
                                    <input type="hidden" name="{{ movie.getCommentsIdAttrName('de', comment.de.id) }}" value="{{ comment.de.id }}">
                                </div>

                                <div class="form-group">
                                    <label for="comment_text_{{ comment.en.id }}" class="col-sm-2 control-label">Text (en):</label>
                                    <div class="col-lg-10">
                                        <textarea name="{{ movie.getCommentsTextAttrName('en', comment.en.id) }}" id="comment_text_{{ comment.en.id }}" class="form-control" >{{ comment.en.text }}</textarea>
                                    </div>
                                    <input type="hidden" name="{{ movie.getCommentsIdAttrName('en', comment.en.id) }}" value="{{ comment.en.id }}">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <span id="remove_comment_{{ comment.de.id }}" class="btn btn-sm btn-danger remove">Remove Comment</span>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}

            </div>


            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <span id="AddComment" class="btn btn-block btn-success">Add Comment</span>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
                <input type="submit" class="pull-right btn btn-success" value="EDIT" />
            </div>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% set fields = movie.getFields() %}
    {% set comments = movie.getComments() %}

    <script>

        initEditPage();
        
        {% if fields|length > 0 %}
            setFieldCounter({{ fields|last.de.id }});
        {% endif %}

        {% if comments|length > 0 %}
            setCommentCounter({{ comments|last.de.id }});
        {% endif %}

        addFieldButtonsClickListeners();
        addCommentClickListeners();
    </script>
{% endblock %}