{% extends 'base.twig' %}

{% block main %}

    <div id="LoadingScreen" class="loading-screen">
        <div class="loading-cover"></div>

        <div class="loading-text">
            <p><b>Ingo Scheel</b> I Kameramann I DoP</p>
            <p>visual concepts</p>
        </div>

        <div class="loading-percents">
            0
        </div>
    </div>

    <div id="App"></div>

{% endblock %}

{% block scripts %}
    <script>
        window.lang = '{{app['translator'].getLocale() }}';
    </script>
    <script src="{{ app.asset_path }}/js/main.bundle.js?date={{"now"|date("m/d/Y/h:m:s")}}"></script>
    <script src="{{ app.asset_path }}/js/main.js?date={{"now"|date("m/d/Y/h:m:s")}}"></script>
{% endblock %}
